<div class="container">
	<div class="row">
		<div class="col-sm-12">
				<%= image_tag @user.avatar, width: "100%", height: "100%" %>
		</div>
		<div class="col-sm-12 p"><a href=""><b><%= name(@user) %></b> <%= age(@user) %></a></div>
		<div class="col-sm-12 "><i class="fa fa-map-marker"></i> <%= location(@user) %></div>
		<div class="col-sm-12 description">
			<h4 class="text-uppercase"><small>Description</small></h4>
			<p class="small"><%= @user.bio %></p>
		</div>
	</div>
</div>